*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100;
}

body {
  box-sizing: border-box;
  height: 100vh;
}

.container {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__neon-text {
    align-self: center;
  }
}
